@media(max-width:1740px){
    .s-hero{
        .container{
            .right{
                .astronaut{
                    right: 7rem;
                }
                .selo{
                    right: 25.7rem;
                }
            }
        }
    }
}

@media(max-width:1440px){
    .s-hero{
        .container{
            .right{
                .astronaut{
                    right: 0rem;
                }
                .selo{
                    right: 16rem;
                }
            }
        }
    }
    .s-two{
        .right{
            img{
                left: -16rem;
            }
        }
    }
}

@media(max-width:1210px){
    html{
        font-size: 50%;
    }
    .s-hero{
        overflow: hidden;
        .container{
            .right{
                .astronaut{
                    right: -10rem;
                    bottom: -16rem;
                    max-width: 100rem;
                }
                .selo{
                    max-width: 20rem;
                    right: 17rem;
                }
            }
        }
    }
    .s-two{
        .right{
            img{
                left: -18rem;
            }
        }
    }
}

@media(max-width:1000px){
    .s-two{
        .right{
            img{
                bottom: -10rem;
                width: 75rem;
            }
        }
    }
}

@media(max-width:920px){
    html{
        font-size: 58%;
    }
    .s-hero{
        overflow: hidden;
        .container{
            .right{
                .astronaut{
                    right: -18rem;
                    bottom: -16rem;
                    max-width: 100rem;
                }
                .selo{
                    max-width: 20rem;
                    right: 12rem;
                }
            }
        }
    }
    
    .s-two{
        .right{
            display: none;
        }
        .container{
            justify-content: center;
            .left{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .s-three{
        background-image: url(/assets/bgthree-mobile.png);
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    footer{

        height: auto;
        .container{
            margin: 4rem 0 4rem 0;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 2rem;
        }
    }
}

@media(max-width:800px){
    html{
        font-size: 70%;
    }
    .s-hero{
        overflow: hidden;

        height: 80rem;
        background-image: url(/assets/Background-Phone.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        .container{
                display: flex;
                justify-content: center;
                align-items: center;
            .left{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .right{
                display: none;
            }
        }
    }
    .s-four{
        .container{
            .top{
                flex-direction: column;
                
                align-items: center;
                text-align: center;
            }
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 4rem;
            }
        }
    }
}



@media(max-width:500px){
    html{
        font-size: 50%;
    }
    header{
        .absolute{
            height: 12rem;
        .container{
            .right{
                span{
                    display: none;
                }
                .line{
                    display: none;
                }
                }
            }
        }
    }
}

@media(max-width:320px){
    html{
        font-size: 40%;
    }
}

@media(max-width:768px){
    .s-four{
        .container{
            .slide{
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
                }
            }           
            }
            .bot{
                .ctrl{
                    justify-content: center;
                }
                .swipe{
                    display: none;
                }
            }
        }
    }
}